# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# testing
/coverage

# env files (NEVER commit secrets)
.env
.env*.local
.env.development
.env.production

# prisma
/prisma/*.db
/prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*
logs/

# os / editor
.DS_Store
*.pem
.idea/
.vscode/*
!.vscode/extensions.json

# vercel / turbo
.vercel
.turbo
